.header__image {
    max-width:  90.9vw;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .header__image {
        max-width:  90.9vw;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }
}