.places__url {
    color:  #AAAAAA;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
/* identical to box height, or 100% */

    letter-spacing: 2px;
}