.places__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: max(32px, min(5.63vw, 72px));
    line-height: 106%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}



.places__title:first-child {
    max-height: 152px;
}

@media screen and (max-width: 1279px) {
    .places__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
    .places__title:first-child {
        max-height: 92px;
    }
}

@media screen and (max-width: 767px) {
    .places__title {
        font-size: 32px;
        line-height: 109%;
        margin: 0 16px 0;
    }

}