.places__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: max(32px, min(5.63vw, 72px));
    line-height: 106%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}