.places__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: 1s linear;
}

.places__link:hover {
    opacity: 30%;
}