.places__container {
    margin: 80px auto 0;
    max-width: 984px;
    width: calc(100% - 148px*2);
    padding: 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 40px;
}

@media screen and (max-width: 1280px) {
    .places__container {
        max-width: 928px;
        width: calc(100% - 48px*2);
        grid-template-columns: 440px 1fr;
        gap: 32px;
        margin: 92px auto 0;
    }
}

@media screen and (max-width:1024px) {
    .places__container {
        max-width: 720px;
        width: calc(100% - 24px*2);
        margin: 82px auto;
        gap: 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width:768px) {
    .places__container {
        max-width: 320px;
        margin: 64px auto;
        width: 100%;
        grid-template-columns: 320px;
    
    }
}