.places__container {
    margin: 80px 100px 0;
    max-width: 984px;
    padding: 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 40px;
}

.places__container:first-child {
    margin: 92px 100px 0;
}

@media screen and (max-width: 1279px) {
    .places__container {
        max-width: 928px;
        grid-template-columns: 440px 1fr;
        gap: 32px;
        margin: 80px 100 0;
    }

    .places__container:first-child {
        margin: 92px 100px 0;
    }
}

@media screen and (max-width:1024px) {
    .places__container {
        max-width: 720px;
        width: calc(100% - 24px*2);
        margin: 82px auto;
        gap: 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width:768px) {
    .places__container {
        max-width: 320px;
        margin: 64px auto;
        width: 100%;
        grid-template-columns: 320px;
    }
}