.header__link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: max(18px, min(1.875vw, 24px));
    line-height: 28px;
    color: white;
    text-decoration: none;
    transition: 1s linear;
    margin: 0;
    padding: 0;
}

.header__link:hover {
    opacity: 0.8;
}


@media screen and (max-width: 1279px) {
    .header__link {
        font-size: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .header__link {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header__link {
        line-height: 111%;
    }
}