.logo {
    width: 176px;
    height: 52px;
    background-image: url(../../images/header-logo.svg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 420px) {
    .logo {
        width: 142px;
        height: 42px;
    }
}