.cover__title {
    margin: 0;
    padding: 0;
    max-width: 560px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: max(32px, min(5.5vw ,72px));
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}


@media screen and (max-width: 1279px) {
    .cover__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        font-size: 9.375vw;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
    }
}