@import url(../vendor/normalize.css);




@import url(../font-face.css);



@import url(../blocks/header/header.css);




/*Intro*/

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__container/photo-grid__container.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);


@import url(../blocks/places/places.css);
@import url(../blocks/places/__container/places__container.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__text/places__text.css);


.page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 48px;
    background-color: #2A2C2F;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}







.header {
    width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo_place_header {
    width: 176px;
    height: 52px;
    background-image: url(../../../images/header-logo.svg);
}

.header__nav {
    margin: 18px 0 0 0 ;
    padding: 0;
}

.header__nav:nth-child(1) {
    margin: 18px 18px 0 0; 
}


.header__link {
    color: white;
}


.lead {
    display: flex;
    align-items: center;
    flex-flow: column;
}


.header__title {
    width: 720px;
    font-size: 96px;
    font-weight: bold;
    font-style: normal;
    font-weight: 900;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;
}

.header__subtitle {
    width: 62.5vw;
    margin: 32px 144px 56px 144px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%px;
    text-align: center;
    color: #FFFFFF;
}

.header__text {
    width: 158px;
    margin: 8px 0 0 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__image {
    max-width:  90.9vw;
    object-fit: cover;
    margin: 0;
    padding: 0;
}






.photo-grid-div {
    width: 200px;
    height: 200px;
}

.places__image {
    width: 480px;
    height: 480px;
}

.cover {
    margin: 0;
    padding: 92px 0 0 0;
    width: 1184px;
    height: 740px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}


.cover__title {
    margin: 245px 312px 0 312px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.cover__subtitle {
    margin: 32px 412px 0 412px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.cover__link { 
    background-image: url(../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s linear;
    z-index: 1;
}

.cover__link:hover {
    opacity: 30%;
}

.footer {
    margin: 92px 0 0 0;
    padding: 0;
    
}

.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
}

.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    /* identical to box height, or 114% */
    text-align: right;
    color: #FFFFFF;
}


@media screen and (max-width: 1280px) {
    .page {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 48px;
        background-color: #2A2C2F;
        color: white;
    }

    .header {
        width: 928px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

}

@media screen and (max-width: 1024px) {
    .page {
        
        max-width: 768px;
        margin: 0 auto;
        padding: 0 24px;
        background-color: #2A2C2F;
        color: white;
    }

}

@media screen and (max-width: 768px) {
    .page {
        width: 320px;
        padding: 0;
        margin: 0;
    }

    .lead {
        width: 320px;
    }

    .header__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    /* or 110% */

    text-align: center;

    color: #FFFFFF;
    }

    .header__subtitle {
    width: 288px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
/* or 125% */

text-align: center;

color: #FFFFFF;
    }
}

