@import url(../vendor/normalize.css);




@import url(../font-face.css);



@import url(../blocks/header/header.css);




/*Intro*/


@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__container/photo-grid__container.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);


@import url(../blocks/places/places.css);


.page {

    margin: 0 auto;
    padding: 0;
    background-color: #2A2C2F;
    color: white;

}

.page__container {
    margin: 24px auto 0;
    min-width: 320px;
    max-width: 1184px;
    width: 100%;

}



.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}


.logo_place_header {
    width: 176px;
    height: 52px;
    background-image: url(../../../images/header-logo.svg);
}

.header__nav {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__nav:nth-child(1) {
    margin: 18px 18px 0 0; 
}


.header__link {
    font-size: max(18px, min(1.875vw, 24px));
    line-height: 28px;
    margin: 0 9px;
    color: white;
    text-decoration: none;
}

.header__link_ru {
    text-decoration: underline;
}

.lead {
    display: flex;
    align-items: center;
    flex-flow: column;
}


.header__title {
    max-width: 720px;
    font-size: max(40px , min(7.50vw ,96px));
    font-weight: bold;
    font-style: normal;
    font-weight: 900;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;
}

.header__subtitle {
    max-width: 640px;
    margin: 32px auto 56px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: max(16px , min(5vw, 30px));
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.header__text {
    width: 158px;
    margin: 8px 0 0 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.625rem;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__image {
    max-width:  100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}



.intro {
    padding: 92px 0 0 0;
    margin-right: 148px;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-right: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        margin-right: 48px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 720px;
        margin: 88px auto 0;
        padding: 0;
    }
}


@media screen and (max-width: 479px) {
    .intro {
        max-width: 288px;
        margin: 64px auto 0;
        padding: 0;
    }
}

.intro__title {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: max(32px, min(4.22vw ,54px));
    line-height: 107%;
    color: #FFFFFF;
}

.intro__text {
    width: 67.6vw;
    margin: 40px 0 0 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 163%;
}

.intro__list {
    width: 67.6vw;
    margin: 33px 0 0 0;
    padding: 0;
    list-style-type: none;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}

.photo-grid {
    max-width: 1184px;
    padding: 92px 0 0 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 16px;
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        gap: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        gap: 16px;
    }
}

@media screen and (max-width: 720px) {
    .photo-grid {
        gap: 12px;
    }
}




.photo-grid__image {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.places {
    width: 100%;
}

.places__container {
    margin: 80px auto 0;
    max-width: 984px;
    width: calc(100% - 148px*2);
    padding: 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 40px;
}

@media screen and (max-width: 1280px) {
    .places__container {
        max-width: 928px;
        width: calc(100% - 48px*2);
        grid-template-columns: 440px 1fr;
        gap: 32px;
        margin: 92px auto 0;
    }
}

@media screen and (max-width:1024px) {
    .places__container {
        max-width: 720px;
        width: calc(100% - 24px*2);
        margin: 82px auto;
        gap: 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width:768px) {
    .places__container {
        max-width: 320px;
        margin: 64px auto;
        width: 100%;
        grid-template-columns: 320px;
    
    }
}

.places__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: max(32px, min(5.63vw, 72px));
    line-height: 106%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.places__container__link {
    display: flex; 
    flex-flow: column;
    justify-content: flex-end;
    margin: 0 0 8px;
}

.places__link__text {
    color:  #AAAAAA;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
/* identical to box height, or 100% */

    letter-spacing: 2px;
}


.places__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.places__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: max(16px, min(1.41vw, 18px));
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 26px;
}

.places__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover {
    margin: 0 auto;
    padding:0;
    max-width: 1184px;
    width: 100%;
    max-height: 740px;
    min-height: 200px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.cover__title {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: max(32px, min(5.5vw ,72px));
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.cover__subtitle {
    max-width: 360px;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: max(14px, min(1.5vw ,18px));
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.cover__link {
    width: 
    100%;
    height: 100%; 
    background-image: url(../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 1s linear;
    z-index: 1;
}

.cover__link:hover {
    opacity: 30%;
}

.footer {
    margin: 92px 0 0 0;
    padding: 0;
    
}

.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
}

.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    /* identical to box height, or 114% */
    text-align: right;
    color: #FFFFFF;
}



