.intro__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: max(32px, min(4.22vw ,54px));
    line-height: 107%;
    color: #FFFFFF;
    text-align: left;
}

@media screen and (max-width:1279px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (max-width:1023px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 109%;
    }
}