.intro__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: max(32px, min(4.22vw ,54px));
    line-height: 107%;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__title {
        line-height: 109%;
    }
}